<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Task</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <div ng-app="searchApp" ng-controller="searchCtrl">
        <form>
            <input type="text" ng-model="input_data">
            <button type="submit" ng-click="search()">Search</button>
        </form>
        <h3>{{result.name}}</h3>
        <a href="{{result.url}}">{{result.display_url}}</a>
    </div>
</body>
</html>