<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Second Task</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <div ng-app="FileComparerApp" ng-controller="FileComparerCtrl">
        <object data="input.txt"></object>
        <object data="patterns.txt"></object>
        <form>
            <button ng-click="selected('Mode1')">Mode1</button>
            <button ng-click="selected('Mode2')">Mode2</button>
            <button ng-click="selected('Mode3')">Mode3</button>
        </form>
        <div ng-repeat="row in result">{{row}}</div>
    </div>
</body>
</html>